@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&family=Protest+Riot&display=swap');

/* Color Variables */
:root {
    /* Backgrounds */
    --main-bg-color: lightblue;
    --dark-bg-color: #0C1B33;
    --secondary-bg-color: #0077B6;
    --contrast-color: ##A1674A;
    /* Text Color */
    --text-light: #FFFFFF;
    --text-dark: #0C1B33; 
    --text-highlight: #FF0000;
    /* Fonts */
    --font-title: 'Yeseva One', serif;
    --font-display: 'Protest Riot', serif;
    --font-sans: 'Lato';
}

body {
    color: var(--text-dark);
    font-family: var(--sans);
}

/* Landing Page */
.landing {
    color: var(--main-bg-color)
}

.landing span {
    display: block;
    text-align: center;
}

.landing__primary {
    font-size: 4rem;
}

/* Header */
.header {
    background-color: var(--main-bg-color);
    color: var(--text-light);
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__main {
    display: flex;
    align-items: center;
}  

.header img,
.header__name {
    cursor: pointer;
}

.header img {
    height: 5rem;
    margin: 1rem;
    /* Silhouette effect */
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    cursor: pointer;
    margin-left: 2rem;
}

.header__name {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-title);
}

.header__links,
.header__links--about {
    color: var(--text-light); 
    text-decoration: none;
    font-size: 1.5rem;  
    margin-right: 1rem; 
    transition: all .2s;
}

.header__links:hover,
.header__links--about:hover {
    color: var(--text-dark);
}

/* Toolbar */
.toolbar {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--text-light);
    border-bottom: 2px solid var(--text-light); 
}

.toolbar__button {
    background-color: white; 
    color: var(--text-dark);
    padding: .7rem 2rem;
    border-radius: 100px;
    margin: 0 .5rem;
    cursor: pointer;

    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.toolbar__button:hover {
    background-color: var(--secondary-bg-color);
    color: var(--text-light);
}

.toolbar__button:before {
    content: '';
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all .3s;
}

.toolbar__button:hover:before {
    transform: translateX(100%) rotate(45deg);
}


.toolbar__divider {
    display: inline-block;
    height: 35px;
    width: 2px;
    background-color: var(--text-light);
    margin: 0 1rem;
    margin-right: 1.5rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    font-family: var(--font-title);
    font-weight: 100;
    background-color: var(--secondary-bg-color);
    color: white;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;
}

.search__input::placeholder {
    color: var(--text-light);
    opacity: 1; /* Firefox */
}
  
.search__input::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--text-light);
}

.search__input:focus {
    outline: none;
    width: 100%;
    backgroud-color: grey;
}

.search__button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    transform: translateX(-.5rem);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: white;
}

.cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
}

.cart svg {
    fill: var(--text-light);
    font-size: 2.5rem;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s;
}

.cart svg:hover {
    font-size: 3rem;
}

.cart svg:hover .cart span {
    background-color: red;
}

.cart span {
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    padding: .3rem;
    background-color: var(--secondary-bg-color);
    color: var(--text-light);
    border-radius: 50%;
    text-align: center;
}

/* Pagination */
.pagination {
    color: black;
}

/* Product Component */
.products__container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.product {
    background-color: #ffffff;
    max-height: 100rem;
    max-width: 15rem;
    margin: .5rem;
    padding: 1.25rem 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.25rem;
    box-shadow: 0 .2rem 1rem grey;
    transition: all .5s;
}

.product:hover {
    box-shadow: 0 .2rem 1rem var(--main-bg-color);
}

.product__image {
    max-height: 300px;

}

.product__name {
    font-weight: 900;
}

.product__divider {
    display: block;
    height: 2px;
    width: 10rem;
    background-color: black;
    margin: .2rem auto;
}

.product__price,
.product__msrp,
.product__msrp-only {
    font-size: 1.25rem;
    margin: .3rem;
}

.product__price,
.product__msrp--only {
    font-family: var(--font-display);
    font-weight: 900;
}

.product__price {
    color: var(--text-highlight);
}

.product__msrp {
    text-decoration: line-through;
    color: grey;
    font-weight: 100;
}

.product__button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: auto;
    margin-top: .75rem;
    font-size: 1rem;
    transition: all .2s;
    box-shadow: 0 .2rem 1rem grey;
}

.product__button svg,
.product__button--text {
    vertical-align: middle;
}

.product__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 .35rem 1rem grey;
}

.product__button:active {
    transform: translateY(0px);
    box-shadow: 0 .1rem .8rem grey;
}

/* Footer */
.footer {
    height: 8rem;
    margin-top: 1rem;
    background-color: var(--main-bg-color);
    color: var(--text-light);
}