@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    /* Color - Backgrounds */
    --bg-white: white;
    --bg-black: black;
    --light-bg-color: #DDECF1;
    --dark-bg-color: #0C1B33;
    /* Color - Buttons */
    --color-grey--light: #8E8E8E;
    --color-grey--dark: #50514F;
    --color-brown--light: #5B5205;
    --color-brown: #472106;
    --color-brown--dark: #2E1402;
    /* Color - Text */
    --text-light: #FFFFFF;
    --text-light-alt: #E1D9D1;
    --text-dark: #181B1B; 
    --text-highlight: #FF0000;
    --text-grey: grey;
    /* Fonts */
    --font-title: 'Montserrat', sans-serif;
    --font-display: 'Protest Riot', serif;
    --font-sans: 'Lato';
    --font-author: 'Berkshire Swash', cursive;
}

/* Animations */
@keyframes slideright {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideleft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Base */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--light-bg-color);
    color: var(--text-dark);
    font-family: var(--sans);
}

/* Landing Page */
.landing {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.6)),
        url('https://i.imgur.com/qoQ5UMg.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: var(--text-light);
    text-align: center;
}

.landing__text {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--text-dark);
}

.landing span {
    display: inline-block;
    text-align: center;
}

.landing__primary {
    font-family: var(--font-title);
    font-size: 5rem;
    color: var(--text-light);
    animation: slideright 1.25s ease-out;
}

.landing__secondary {
    font-size: 1.5rem;
    color: var(--text-light-alt);
    animation: slideleft 1.5s ease-out;
}

.landing__button {
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--color-brown--dark);
    padding: .7rem 2rem;
    border-radius: 100px;
    animation: fadein 1s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .5s;
    transition: all .2s;
    box-shadow: 0 .2rem 1rem var(--color-brown--light);
}

.landing__button:hover {
    background-color: var(--color-brown);
}

/* Header */
.header {
    background-color: var(--bg-white);
    color: var(--text-light);
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__main {
    display: flex;
    align-items: center;
}  

.header img,
.header__name {
    cursor: pointer;
}

.header img {
    height: 5rem;
    margin: 1rem;
    margin-left: 2rem;
    filter: brightness(0%);
}

.header__name {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-title);
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--text-dark);
    text-shadow: 1px 1px 2px var(--text-light);
}

.header__links,
.header__links--about {
    color: var(--text-dark); 
    text-decoration: none;
    font-size: 1.5rem;  
    margin-right: 1rem; 
    transition: all .2s;
}

.header__links:hover,
.header__links--about:hover {
    color: var(--color-grey--light);
}

/* Toolbar */
.toolbar {
    background-color: var(--bg-black);
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--text-light);
    border-bottom: 2px solid var(--text-light); 
}

.toolbar__button {
    background-color: white; 
    color: var(--text-dark);
    padding: .7rem 2rem;
    border-radius: 100px;
    margin: 0 .5rem;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.toolbar__button:hover {
    background-color: var(--color-grey--dark);
    color: var(--text-light);
}

.toolbar__button:before {
    content: '';
    background-color: var(--bg-white);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all .3s;
}

.toolbar__button:hover:before {
    transform: translateX(100%) rotate(45deg);
}


.toolbar__divider {
    display: inline-block;
    height: 35px;
    width: 2px;
    background-color: var(--text-light);
    margin: 0 1rem;
    margin-right: 1.5rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    font-family: var(--font-title);
    font-weight: 100;
    background-color: var(--color-grey--dark);
    color: var(--bg-white);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    min-width: 15rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;
}

.search__input::placeholder {
    color: var(--text-light);
    opacity: 1; /* Firefox */
}
  
.search__input::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--text-light);
}

.search__input:focus {
    outline: none;
    width: 100%;
    min-width: 17rem;
    backgroud-color: red;
}

.search__button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    transform: translateX(-.5rem);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: white;
}

.cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
}

.cart svg {
    fill: var(--text-light);
    font-size: 2.5rem;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s;
}

.cart svg:hover {
    font-size: 3rem;
}

.cart svg:hover .cart span {
    background-color: red;
}

.cart span {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.25rem;
    width: 1.25rem;a
    padding: .5rem;
    background-color: var(--color-grey--light);
    color: var(--text-light);
    border-radius: 50%;
    text-align: center;
}

/* Pagination Component */
.pagination {
    color: var(--text-dark);
    margin: 1.5rem auto 0 auto;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-button {
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: var(--color-grey--dark);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    width: 5rem;
}

.page-button:hover {
    background-color: var(--color-grey--light);
}

.page-button:active {
    background-color: var(--color-grey--dark);
}

.page-button--placeholder {
    display: inline-block;
    width: 5rem;
}


/* Product Card */
.products__container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product {
    background-color: #ffffff;
    max-height: 100rem;
    min-height: 28rem;
    max-width: 15rem;
    width: 15rem;
    margin: .5rem;
    padding: 1.25rem 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.25rem;
    box-shadow: 0 .2rem 1rem grey;
    transition: all .5s;
}

.product:hover {
    box-shadow: 0 .2rem 1rem var(--dark-bg-color);
}

.product__image {
    height: 300px;
}

.product__image--container {
    height: 300px;
}

.product__name {
    margin-top: .5rem;
    font-size: 1.1rem;
    font-weight: 900;
    height: 2.6rem;
    text-align: center;
}

.product__divider {
    display: block;
    height: 2px;
    width: 10rem;
    background-color: black;
    margin: .2rem auto;
}

.product__price,
.product__msrp,
.product__msrp-only {
    font-size: 1.25rem;
    margin: .3rem;
}

.product__price,
.product__msrp--only {
    font-family: var(--font-display);
    font-weight: 900;
}

.product__price {
    color: var(--text-highlight);
}

.product__msrp {
    text-decoration: line-through;
    color: var(--text-grey);
    font-weight: 100;
}

.product__button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: auto;
    margin-top: .75rem;
    font-size: 1rem;
    transition: all .2s;
    box-shadow: 0 .2rem 1rem var(--text-grey);
}

.product__button svg,
.product__button--text {
    vertical-align: middle;
}

.product__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 .35rem 1rem var(--text-grey);
}

.product__button:active {
    transform: translateY(0px);
    box-shadow: 0 .1rem .8rem var(--text-grey);
}

/* Footer */
.footer {
    height: 10rem;
    margin-top: 1rem;
    background-color: var(--bg-black);
    color: var(--text-light);
    text-align: center;
    padding: 1rem 8rem;
}

.author {
    font-family: 'Times New Roman';
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    text-align: center;
    font-size: 1.25rem;
    transition: all .2s;
}

.author:hover {
    color: var(--color-grey--light);
}

.author span {
    font-family: var(--font-author);
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link img {
    height: 45px;
    width: 45px;
    margin: .5rem;
}

.footer__details a {
    text-decoration: none;
    color: var(--text-light);
    text-transform: uppercase;
    transition: all .2s;
}

.footer__details a:hover {
    color: var(--color-grey--light);
}